body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  width: 100%;
  max-width: 100svw;
  min-height: 100vh;
  min-height: 100svh;
}
html,
body {
  touch-action: manipulation;
}
.header_search_text_container {
  margin-top: 12px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.header_blur_search_input {
  position: relative;
  border-radius: 5px;
  border: 2px solid gray;
  text-align: left;
  width: 220px;
  padding-left: 6px;
  height: 30px;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.header_blur_search_result_container {
  display: none;
  width: 358px;
  max-width: 360px;
  min-height: 40px;
  max-height: 400px;
  overflow-y: auto;
  position: absolute;
  border-radius: 5px;
  border: 2px solid gray;
  top: 42px;
  background-color: #fff;
  z-index: 999;
  flex-direction: column;
  align-items: center;
}
.header_result_card {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid gray;
  display: flex;
  gap: 4px;
  flex-direction: column;
  background-color: #ffffff;
  transition: all 0.2s;
  cursor: pointer;
}
.header_result_card:hover {
  transition: all 0.2s;
  background-color: #e4e4e4;
}
.hrc_cht_name,
.hrc_code_container {
  font-size: 14px;
  color: #454545;
}
.hrc_code_container {
  display: flex;
  justify-content: space-between;
}

.header_search_barcode_container {
  position: relative;
}
.header_search_text_img_icon {
  display: block;
  position: absolute;
  right: 6px;
  top: calc(50% + 3px);
  width: 24px;
  height: 24px;
  object-fit: cover;
  transform: translateY(-50%);
  cursor: pointer;
}
.header_med_map {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 16px;
  font-family: 微軟正黑體;
  font-weight: normal;
  color: white;
  border-radius: 5px;
  background-color: #005798;
  padding: 0 20px;
  color: #fff;
  transition: 0.2s;
}
.header_div {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; /* 可以根据你的设计修改背景颜色 */
  z-index: 1000000; /* 使Header显示在其他内容之上 */
}
.under-line {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
  height: 30px;
  line-height: 30px;
  display: block;
  z-index: 9;
}
.h1 {
  text-shadow: 2px 2px 2px #888888;
  font-size: 30px;
  left: 20px;
  margin-left: 10px;
  text-align: left;
  color: #000000;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.almcontrol_btn {
  border-radius: 5px;
  background-color: #eb3232;
  padding: 0 20px;
  color: #fff;
  transition: 0.2s;
}
.almcontrol_btn:hover {
  background-color: #e76d6d;
  transition: 0.2s;
}

.control_btn {
  border-radius: 5px;
  background-color: #005798;
  padding: 0 20px;
  color: #fff;
  transition: 0.2s;
}
.control_btn:hover {
  background-color: #0c6eb7;
  transition: 0.2s;
}
.link_btn {
  border-radius: 5px;
  background-color: #aaaaaa;
  padding: 0 20px;
  color: #fff;
  transition: 0.2s;
}
.link_btn:hover {
  background-color: #929292;
  transition: 0.2s;
}

.calculate_btn {
  border-radius: 5px;
  background-color: #c9c9bc;
  padding: 0 20px;
  color: #fff;
  transition: 0.2s;
}
.calculate_btn:hover {
  background-color: #c9c9bc;
  transition: 0.2s;
}

.header_invertory_check,
.header_invertory_uncheck {
  height: 40px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
  border-radius: 5px;
  background-color: #616161;
  padding: 0 20px;
  color: #fff;
  font-weight: 700 !important;
  cursor: pointer;
}
.header_invertory_active {
  background-color: rgb(108, 214, 37);
  color: #000;
}

.popup_creatSelect_normal_CN {
  max-height: 244px !important;
}
.popup_creatSelect_normal_CN::-webkit-scrollbar {
  width: 8px; /* 设置滚动条的宽度 */
}

/* 设置滚动条的轨道背景颜色 */
.popup_creatSelect_normal_CN::-webkit-scrollbar-track {
  background-color: #f1f1f18c;
}

/* 设置滚动条的滑块颜色 */
.popup_creatSelect_normal_CN::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

/* 设置滚动条的滑块在hover状态下的颜色 */
.popup_creatSelect_normal_CN::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.creatSelect_button {
  min-height: 50px !important;
}

.popup_notice_for_sub_container {
  position: fixed;
  display: flex;
  max-width: 260px;
  z-index: 100000000;
  top: 24px;
  padding: 8px 20px;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  right: -300px;
  /* right: 10px; */
  background-color: #fe6262;
  /* background-color: #00b718; */
  color: #fff;
}
.iframe_container {
  display: none;
  z-index: 900;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  width: 100svw;
  height: 100vh;
  height: 100svh;
}
#med_map_iframe {
  position: absolute;
  z-index: 901;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 700px) {
  .header_search_text_container {
    flex-direction: column;
  }
}
