.popup_batch_edit_div {
  max-width: 800px;
  width: 90%;
  width: 90vw;
  width: 90svw;
  height: 90%;
  height: 90vh;
  height: 90svh;
  max-height: 960px;
  display: flex !important;
  flex-direction: column !important;
  justify-content: start !important;
}

.ppbe_header_container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.ppbe_h_title {
  padding: 4px 48px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(222, 222, 222);
  color: #000000;
  border-radius: 5px;
}
.ppbe_h_close_btn {
  position: absolute;
  cursor: pointer;
  display: block;
  width: 36px;
  top: 0px;
  right: 0px;
}
.ppbe_search_btn {
  text-align: center;
}

.ppbe_main_container {
  width: 100%;
  height: calc(100% - 80px);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.ppbe_main_func_display {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  gap: 12px;
  flex-direction: column;
  padding: 4px 0px;
}
.ppbe_card,
.batch_edit_note_card,
.ppbe_med_info_container {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 5px;
  border: 1px solid #cfcfce;
}
.ppbe_input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px; /* 調整寬度 */
  height: 25px; /* 調整高度 */
  border: 2px solid #000; /* 邊框顏色和大小 */
  border-radius: 3px; /* 邊框圓角 */
  position: relative;
  cursor: pointer;
  margin-right: 12px;
}
.ppbe_input:checked {
  background-color: #4caf50; /* 背景顏色 */
  border-color: #4caf50; /* 邊框顏色 */
}
.ppbe_input:checked::before {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px; /* 調整勾勾的大小 */
}
.batch_edit_note_content {
  padding-left: 12px;
}
.ppbe_card_med_name,
.ppbe_card_med_qty {
  font-weight: 600;
  font-size: 20px;
}
.ppbe_card_med_info_container,
.ppbe_med_info {
  flex-grow: 1;
}
.ppnsm_cpoe_card_info_top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.ppbe_cm_large_icon {
  width: 40px;
  height: 40px;
}
.ppbe_cm_large_icon > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ppbe_next_btn_disable {
  background-color: rgb(151, 151, 151);
  border-color: rgb(107, 107, 107);
  cursor: not-allowed;
}
.ppbe_next_btn_disable:hover {
  background-color: rgb(151, 151, 151);
  border-color: rgb(107, 107, 107);
}
.ppbe_main_head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 12px;
}

.ppbe_card_med_detail {
  display: grid;
  grid-template-columns: 30% 30% 30%;
}

.batch_edit_selection_section {
  width: 100%;
  margin: 16px 0px;
  display: grid;
  flex-direction: column;
  grid-template-columns: 50% 50%;
}
.ppbe_selection_container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 12px;
  padding-bottom: 12px;
}
.batch_edit_log_container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.ppbe_type_card {
  padding: 4px 16px;
  border-radius: 8px;
  border: 1px solid #626262;
  background-color: #cecece;
}
.ppbe_selection_input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px; /* 調整寬度 */
  height: 20px; /* 調整高度 */
  border: 2px solid #000; /* 邊框顏色和大小 */
  border-radius: 3px; /* 邊框圓角 */
  position: relative;
  cursor: pointer;
  margin-right: 12px;
}
.ppbe_selection_input:checked {
  background-color: #4caf50; /* 背景顏色 */
  border-color: #4caf50; /* 邊框顏色 */
}
.ppbe_selection_input:checked::before {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px; /* 調整勾勾的大小 */
}
.ppbe_selection_label,
.ppbe_notifiy_label {
  font-size: 20px;
  font-weight: 500;
  display: block;
}
.batch_edit_notifiy_container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6px;
}
.ppbe_notifiy_input {
  width: 100%;
  display: block;
  flex-grow: 1;
  border-radius: 5px;
  border: 1px solid #606060;
  padding: 6px;
  font-size: 18px;
  margin-bottom: 1px;
}

.ppbe_main_footer {
  display: flex;
  padding-top: 12px;
  width: 100%;
  justify-content: space-between;
}
.ppbe_step_btn_disable {
  background-color: rgb(151, 151, 151);
  border-color: rgb(107, 107, 107);
  cursor: not-allowed;
}
.ppbe_batch_card_container {
  display: grid;
  grid-template-columns: 100%;
  gap: 12px;
  flex-grow: 1;
}
.ppbe_batch_info_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  border-bottom: 1px solid #606060;
}
.ppbe_batch_info_title {
  font-weight: 600;
  font-size: 20px;
}
.ppbe_stock_batch_container {
  padding-top: 12px;
}
.ppbe_stock_head {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid #606060;
}
.ppbe_stock_info_div {
  flex-grow: 1;
  display: grid;
  gap: 8px;
  grid-template-columns: 32% 32% 32%;
}
.ppbe_stock_add {
  background-color: #6ece20;
  padding: 4px;
  width: 28px;
  border-radius: 4px;
  cursor: pointer;
}

.ppbe_stock_main {
  display: grid;
  grid-template-columns: 100%;
  gap: 8px;
  padding-top: 12px;
}
.ppbe_stock_card {
  padding: 12px;
  border-radius: 0.5rem;
  border: 1px solid #606060;
  background-color: #ececec;
  display: flex;
  gap: 12px;
  align-items: center;
}
